/*
File: style.css
GUI Assignment: Creating Your First Web Page
Name: Jacob Knowlton
Date Created: May 25, 2026
Description: Simple styling for the web page. Styles for the text, spacing, links, images, and table.
*/

/* Body styling */
body {
  font-family: Arial;
  background-color: #5d5a5a;
  color: #222222;
  margin: 20px;
  line-height: 1.5;
}

/* Header and main content styling */
header,
main,
footer {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
}

/* Header styling */
h1 {
  color: #000000;
  text-align: center;
}

h2 {
  color: #0084ff;
}

/* Link styling */
a {
  color: #00ae17;
}

/* Image styling */
img {
  max-width: 250px;
  display: block;
  margin: 10px auto;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #777777;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #b5b5b5;
}

/* Footer and validation icon styling */
footer {
  text-align: center;
}

.validator {
  border: none;
  max-width: 90px;
}